langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
chromadb
langsmith
pypdf
tiktoken
sentence-transformers
pymupdf
docx2txt
langchain-experimental
unstructured
rank_bm25
langchain-classic
python-dotenv
streamlit
